@font-face {
    font-family: 'source_sans_pro';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_pro';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}
