#Loading {
    position: absolute;
    width: 100%;
    background-color: #000;
    transition: 3s opacity;
    z-index: 10;
    #bgLoading {
        background: url("../img/Load.png") no-repeat;
        height: 100vh;
        opacity: 0.1;
        transition: opacity 10s;
    }
    .percentage {
        position: absolute;
        bottom: 30%;
        left: 48%;
        color: #ffffff;
        opacity: 0.6;
        font-size: 40px;
        font-weight: bold;
    }
}