.Menu {
    .overlay {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
        .link {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
                &:hover, &:focus {
                color: #f1f1f1;
            }
        }
        .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
            color: #fff;
            cursor: pointer;
        }
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .link {
                font-size: 40px;
                text-decoration: none;
                color: #fff;
                margin: 30px;
            }
            .ligne1 {
                display: block;
                height: 1px;
                width: 189px;
                border: solid 1px #fff;
                background-color: #fff;
                margin: 10px auto;
            }
            .ligne2 {
                display: block;
                height: 1px;
                width: 100px;
                border: solid 1px #fff;
                background-color: #fff;
                margin: 10px auto;
            }
        }
    }
    .openbtn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        width: 4%;
        height: 4%;
        cursor: pointer;
    }
}
